/* 密码框字体 */
@font-face {
  font-family: 'password';
  src:  url('fonts/PasswordEntry.eot?8r5cmt');
  src:  url('fonts/PasswordEntry.eot?8r5cmt#iefix') format('embedded-opentype'),
    url('fonts/PasswordEntry.ttf?8r5cmt') format('truetype'),
    url('fonts/PasswordEntry.woff?8r5cmt') format('woff'),
    url('fonts/PasswordEntry.svg?8r5cmt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.password input[type='text'] {
  font-family: 'password' !important;
}



/* 德卡图标字体 */

@font-face {
  font-family: 'decard';
  src:  url('fonts/decard-icons.eot?8r5cmt');
  src:  url('fonts/decard-icons.eot?8r5cmt#iefix') format('embedded-opentype'),
    url('fonts/decard-icons.ttf?8r5cmt') format('truetype'),
    url('fonts/decard-icons.woff?8r5cmt') format('woff'),
    url('fonts/decard-icons.svg?8r5cmt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="dc-icon"], [class*="dc-icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'decard' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dc-icon_add:before {
  content: "\e900";
}
.dc-icon_check:before {
  content: "\e901";
}
.dc-icon_close_01:before {
  content: "\e902";
}
.dc-icon_close_02:before {
  content: "\e903";
}
.dc-icon_delete:before {
  content: "\e904";
}
.dc-icon_double:before {
  content: "\e905";
}
.dc-icon_key:before {
  content: "\e906";
}
.dc-icon_last_01:before {
  content: "\e907";
}
.dc-icon_last_02:before {
  content: "\e908";
}
.dc-icon_logout:before {
  content: "\e909";
}
.dc-icon_next_01:before {
  content: "\e90a";
}
.dc-icon_next_02:before {
  content: "\e90b";
}
.dc-icon_people:before {
  content: "\e90c";
}
.dc-icon_remove:before {
  content: "\e90d";
}
.dc-icon_revoke:before {
  content: "\e90e";
}
.dc-icon_search:before {
  content: "\e90f";
}
.dc-icon_user:before {
  content: "\e910";
}
.dc-icon_xiala_shang:before {
  content: "\e911";
}
.dc-icon_xiala_xia:before {
  content: "\e912";
}
.dc-icon_yes:before {
  content: "\e913";
}
.dc-icon_sort_up:before {
  content: "\e914";
}
.dc-icon_sort_down:before {
  content: "\e915";
}
.dc-icon_eye:before {
  content: "\e916";
}
.dc-icon_eye_close:before {
  content: "\e917";
}